body{
    background:url(https://img5.goodfon.ru/original/2048x1271/3/be/seafoods-sushi-fish-rolly-sushi-ryba-sous.jpg) fixed no-repeat center center;
    }
    .carousel img
    {
       width: 180px;
       height: 270px;
    }
    .slide-image {
        box-sizing: border-box;
        padding: 10px;
    }
    @media all and (orientation: landscape), (min-width: 1100px) {
        .carousel img {
           width: 330px;
           height: 180px;
      }
      }
      
    
    